<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About",  about_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
			<li><a href="http://www.facebook.com/">News</a/></li>
		</ul>
	</nav>
	<br/>
	<script type="text/javascript"><!--
	amazon_ad_tag = "thegrewarsess-20"; amazon_ad_width = "468"; amazon_ad_height = "60"; amazon_ad_link_target = "new";//--></script>
	<script type="text/javascript" src="http://www.assoc-amazon.com/s/ads.js"></script>
	
</footer>